menu "Meatometer application configuration"

config APP_MQTT_BROKER_ADDR
	string "MQTT broker IP address"

config APP_MQTT_USERNAME
	string "MQTT username for authentication at broker"

config APP_MQTT_PASSWORD
	string "MQTT password for authentication at broker"

endmenu

source "Kconfig.zephyr"