/ {
	aliases {
		led-measuring = &led0;
		led-status = &led1;
		btn-measure = &button0;
		btn-reconnect-wifi = &button1;
	};
};

&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>; /* D10 */

	max6675@0 {
		compatible = "maxim,max6675";
		reg = <0>;
		spi-max-frequency = <125000>;
	};
};
